@import "~bootstrap/dist/css/bootstrap.min.css";
body {
    background: #0E7E12;
    box-sizing: border-box;
}
#card {
height: 500px;
width: 225px;
background-color: white;
border: 1px solid black;
border-radius: 10%;
font-size: 70px;
padding: 5px;
}

.suit{
    padding: ;
}

